<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{.Title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="stylesheet" href="css/hawker.css">
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>
<body>
    <div id="page">
        <div class="section">
            <div class="slide">
                <h1>Hello World</h1>
            </div>
            <div class="slide">
                <h1>Hello World2</h1>
            </div>
            <div class="slide">
                <h1>Hello World3</h1>
            </div>
        </div>
        <div class="section">
            <h1>Goodbye World</h1>
        </div>
    </div>
    <footer>
        {{partial "footer.html" .}}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/jquery.fullPage.min.js"></script>
    <script>window.fullPage || document.write('<script src="js/jquery.fullPage.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/vendors/scrolloverflow.min.js"></script>
    <script>window.fullPage || document.write('<script src="js/scrolloverflow.min.js"><\/script>')</script>
    <script src="js/hawker.min.js"></script>

</body>
</html>